
  
   
   




  
  

    


   
    body{

    margin:0;
    padding:0;

    font-family:Arial, Helvetica, sans-serif;

    background:
        radial-gradient(circle at 20% 20%, rgba(255,0,0,.15), transparent 30%),
        radial-gradient(circle at 80% 30%, rgba(0,255,255,.12), transparent 30%),
        radial-gradient(circle at 50% 80%, rgba(255,255,0,.12), transparent 30%),
        #050505;

    background-size:200% 200%;

    animation:fundoDJ 18s ease infinite;

    color:white;

}body{

    margin:0;
    padding:0;

}
    font-family:Arial, Helvetica, sans-serif;
    color:white;
}

#painel{

    width:100%;

    min-height:100vh;

    text-align:center;

    box-sizing:border-box;

}
.topo{

    padding:30px;

    text-align:center;

}
}

.logo{
    display:block;
    margin:30px auto;
    width:180px;
    animation:brilhoLogo 2s infinite alternate;
    filter:drop-shadow(0 0 10px #FFD700);
}

@keyframes brilhoLogo{

    0%{
        transform:scale(1);
        filter:drop-shadow(0 0 10px #FFD700);
    }

    100%{
        transform:scale(1.05);
        filter:drop-shadow(0 0 30px #FFD700);
    }

}

h1{
    color:#FFD700;
    h1{
    font-size:60px;
}
    text-align:center;
    margin:10px 0 0;
}

h2{
    color:white;
   h2{
    font-size:38px;
}
    text-align:center;
    margin:5px 0 20px;
}

.aoVivo{

    display:inline-block;

    background:red;

    color:white;

    padding:8px 25px;

    border-radius:20px;

    font-size:22px;

    font-weight:bold;

    margin:15px auto;

    width:max-content;

    animation:piscando 1s infinite;

}
.relogio{
    width:320px;
    margin:30px auto;
    background:#111;
    border:3px solid #FFD700;
    border-radius:15px;
    padding:15px;
    color:#FFD700;
    font-size:60px;
    font-weight:bold;
    text-align:center;
    box-shadow:0 0 20px #FFD700;
    font-family:Consolas, monospace;
    letter-spacing:3px;
}
.djAtual{
    width:700px;
    margin:30px auto;
    background:#111;
    border:3px solid #FFD700;
    border-radius:15px;
    padding:20px;
    text-align:center;
    box-shadow:0 0 20px rgba(255,215,0,0.4);
}

.djAtual h2{
    color:#FFD700;
    margin-bottom:20px;
    font-size:32px;
}

#nomeDJ{
    color:white;
   font-size:42px;
font-weight:bold;
    font-weight:bold;
}
   .proximoDj{
    width:700px;
    margin:20px auto;
    background:#111;
    border:3px solid #FFD700;
    border-radius:15px;
    padding:20px;
    text-align:center;
    box-shadow:0 0 20px rgba(255,215,0,0.4);
}

.proximoDj h2{
    color:#FFD700;
    margin-bottom:20px;
   font-size:36px;
font-weight:bold;
}

#proximoDJ{
    color:#FFD700;
    font-size:40px;
    font-weight:bold;
}
.programacao{
    width:700px;
    margin:30px auto;
    background:#111;
    border:3px solid #FFD700;
    border-radius:15px;
    padding:20px;
    box-shadow:0 0 20px rgba(255,215,0,0.4);
}

.programacao h2{
    color:#FFD700;
    text-align:center;
    margin-bottom:20px;
}

.programacao table{
    width:100%;
    border-collapse:collapse;
}

.programacao th{
    background:#FFD700;
    color:#000;
    padding:12px;
    font-size:22px;
}

.programacao td{
    border:1px solid #444;
    padding:12px;
    text-align:center;
    color:white;
    font-size:20px;
}

.programacao tr:nth-child(even){
    background:#1a1a1a;
}
.ativo{
    background:#FFD700 !important;
    color:#000 !important;
    font-weight:bold;
    transform:scale(1.02);
    transition:0.3s;
}

.ativo td{
    color:#000 !important;
    font-weight:bold;
}
.indicador{
    color:#C00000;
    font-weight:bold;
    margin-left:10px;
    animation:piscaIndicador 1s infinite;
}

@keyframes piscaIndicador{

    0%{
        opacity:1;
    }

    50%{
        opacity:0;
    }

    100%{
        opacity:1;
    }

}
.equalizador{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    gap:3px;
    height:150px;
    margin:30px auto;
}

.barra{
    width:10px;
    height:30px;
    border-radius:3px;

    background:linear-gradient(
        to top,
        #00ff00 0%,
        #66ff00 20%,
        #ffff00 45%,
        #ff9900 70%,
        #ff0000 100%
    );

    box-shadow:0 0 10px rgba(255,255,255,.5);

    animation:equalizar 0.8s infinite ease-in-out;
}
.barra:nth-child(1){animation-duration:.7s;}
.barra:nth-child(2){animation-duration:1s;}
.barra:nth-child(3){animation-duration:.6s;}
.barra:nth-child(4){animation-duration:1.2s;}
.barra:nth-child(5){animation-duration:.8s;}
.barra:nth-child(6){animation-duration:1.4s;}
.barra:nth-child(7){animation-duration:.9s;}
.barra:nth-child(8){animation-duration:1.1s;}
.barra:nth-child(9){animation-duration:.7s;}
.barra:nth-child(10){animation-duration:1.3s;}


@keyframes equalizar{

    0%{height:20px;}
    15%{height:80px;}
    30%{height:45px;}
    45%{height:130px;}
    60%{height:60px;}
    75%{height:110px;}
    90%{height:35px;}
    100%{height:20px;}

}
@keyframes equalizar{

    0%{
        height:25px;
    }

    20%{
        height:60px;
    }

    40%{
        height:120px;
    }

    60%{
        height:70px;
    }

    80%{
        height:110px;
    }

    100%{
        height:30px;
    }

}

.barra:nth-child(2){animation-delay:0.1s;}
.barra:nth-child(3){animation-delay:0.2s;}
.barra:nth-child(4){animation-delay:0.3s;}
.barra:nth-child(5){animation-delay:0.4s;}
.barra:nth-child(6){animation-delay:0.5s;}
.barra:nth-child(7){animation-delay:0.6s;}
.barra:nth-child(8){animation-delay:0.7s;}
.barra:nth-child(9){animation-delay:0.8s;}
.barra:nth-child(10){animation-delay:0.9s;}

@keyframes equalizar{
    0%{height:25px;}
    50%{height:110px;}
    100%{height:25px;}
}
#contadorDJ{
    margin-top:10px;
    color:#FFD700;
    font-size:22px;
    font-weight:bold;
    text-align:center;
}
.faixaNoticias{
    width:100%;
    overflow:hidden;
    background:#111;
    border-top:2px solid #FFD700;
    border-bottom:2px solid #FFD700;
    margin:15px 0;
    padding:8px 0;
}

#textoNoticias{
    display:inline-block;
    white-space:nowrap;
    color:#FFD700;
   font-size:40px;
    font-weight:bold;
    animation:rolarNoticias 20s linear infinite;
}

@keyframes rolarNoticias{

    from{
        transform:translateX(100%);
    }

    to{
        transform:translateX(-100%);
    }

}
@keyframes bordaRGB{

    0%{
        border-color:#00ff00;
        box-shadow:0 0 20px #00ff00;
    }

    20%{
        border-color:#ffff00;
        box-shadow:0 0 20px #ffff00;
    }

    40%{
        border-color:#ff9900;
        box-shadow:0 0 20px #ff9900;
    }

    60%{
        border-color:#ff0000;
        box-shadow:0 0 20px #ff0000;
    }

    80%{
        border-color:#00ccff;
        box-shadow:0 0 20px #00ccff;
    }

    100%{
        border-color:#00ff00;
        box-shadow:0 0 20px #00ff00;
    }

}
@keyframes fundoDJ{

    0%{
        background-position:0% 0%;
    }

    25%{
        background-position:100% 20%;
    }

    50%{
        background-position:50% 100%;
    }

    75%{
        background-position:20% 40%;
    }

    100%{
        background-position:0% 0%;
    }

}
@keyframes piscando{

    0%{
        opacity:1;
    }

    50%{
        opacity:.3;
    }

    100%{
        opacity:1;
    }

}
#painel{

    border:4px solid #FFD700;

    box-shadow:0 0 20px #FFD700;

    animation:bordaRGB 8s infinite;

}


@keyframes bordaRGB{

    0%{
        border-color:#00ff00;
        box-shadow:0 0 20px #00ff00;
    }

    25%{
        border-color:#ffff00;
        box-shadow:0 0 20px #ffff00;
    }

    50%{
        border-color:#ff0000;
        box-shadow:0 0 20px #ff0000;
    }

    75%{
        border-color:#00ccff;
        box-shadow:0 0 20px #00ccff;
    }

    100%{
        border-color:#00ff00;
        box-shadow:0 0 20px #00ff00;
    }

}
